@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #f1c40f;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-weight: 700;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', Arial, sans-serif;
}

input[type="submit"] {
    background-color: #f1c40f; /* Amarelo */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #f39c12; /* Amarelo mais escuro */
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
    label, input, select {
        font-size: 14px;
    }
}
