@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #f1c40f;
    font-weight: 700;
    margin-bottom: 40px;
}

h2 {
    color: #333;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    color: #333;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', Arial, sans-serif;
}

.btn {
    background-color: #f1c40f; /* Amarelo */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #f39c12; /* Amarelo mais escuro */
}

.form-submit {
    text-align: center;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .form-group label, .form-control, .btn {
        font-size: 14px;
    }
}
