body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Fundo mais cinza */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    background-color: #ffdd57; /* Cor principal */
    border: none;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background-color: #e6c200; /* Sombra da cor principal */
    color: #fff;
}

div {
    margin-bottom: 15px;
    color: red;
    text-align: center;
}

a {
    color: #ffdd57; /* Cor principal */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #e6c200; /* Sombra da cor principal */
    text-decoration: underline;
}

span {
    display: block;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

p:last-of-type {
    text-align: center;
}

@media (max-width: 480px) {
    body {
        padding: 20px;
    }

    form {
        padding: 15px;
    }
}
