<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Agendamentos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/agendamentos_list.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Agendamentos</h1>
        <div class="button-group">
            <a href="{{ url_for('main.dashboard') }}" class="add-button">Voltar à Dashboard</a>
            {% if user.role == 'Administrador' or user.role == 'Rececionista' %}
            <a href="{{ url_for('main.create_agendamento') }}" class="add-button">Adicionar Novo Agendamento</a>
            {% endif %}
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome do Paciente</th>
                    <th>Tipo de Exame</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Nome do Médico</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in agendamentos %}
                <tr>
                    <td>{{ agendamento.utente_nome }}</td>
                    <td>{{ agendamento.tipo }}</td>
                    <td>{{ agendamento.data }}</td>
                    <td>{{ agendamento.hora }}</td>
                    <td>{{ agendamento.medico_nome }}</td>
                    <td>
                        {% if user.role == 'Administrador' or user.role == 'Rececionista' %}
                        <a href="{{ url_for('main.edit_agendamento', agendamento_id=agendamento.id) }}" class="edit-button">Editar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
