<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Novo Utilizador</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_user.css') }}">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <script>
        function toggleUserInfoFields() {
            var roleSelect = document.getElementById('role');
            var userInfoFields = document.getElementById('userInfoFields');
            if (roleSelect.value === 'Utente') {
                userInfoFields.classList.remove('hidden');
            } else {
                userInfoFields.classList.add('hidden');
            }
        }
        window.onload = function() {
            toggleUserInfoFields();  // Ensure correct state on page load
        };
    </script>
</head>
<body>
    <h1>Adicionar Novo Utilizador</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div>{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="nome">{{ form.nome.label }}</label>
            {{ form.nome(class="form-control") }}
            {% for error in form.nome.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="confirm_password">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password(class="form-control") }}
            {% for error in form.confirm_password.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% if session['user']['role'] == 'Administrador' %}
        <div class="form-group">
            <label for="role">{{ form.role.label }}</label>
            {{ form.role(id='role', class="form-control", onchange="toggleUserInfoFields()") }}
            {% for error in form.role.errors %}
              <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% else %}
        <input type="hidden" name="role" value="Utente">
        {% endif %}

        <div id="userInfoFields" class="hidden">
            <h2>Informações Adicionais do Utente</h2>
            <div class="form-group">
                <label for="cc_number">{{ form.cc_number.label }}</label>
                {{ form.cc_number(class="form-control") }}
                {% for error in form.cc_number.errors %}
                  <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="health_number">{{ form.health_number.label }}</label>
                {{ form.health_number(class="form-control") }}
                {% for error in form.health_number.errors %}
                  <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="gender">{{ form.gender.label }}</label>
                {{ form.gender(class="form-control") }}
                {% for error in form.gender.errors %}
                  <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="birth_date">{{ form.birth_date.label }}</label>
                {{ form.birth_date(class="form-control") }}
                {% for error in form.birth_date.errors %}
                  <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="weight">{{ form.weight.label }}</label>
                {{ form.weight(class="form-control") }}
                {% for error in form.weight.errors %}
                  <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="height">{{ form.height.label }}</label>
                {{ form.height(class="form-control") }}
                {% for error in form.height.errors %}
                  <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="bmi">{{ form.bmi.label }}</label>
                {{ form.bmi(class="form-control") }}
                {% for error in form.bmi.errors %}
                  <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group form-submit">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <a href="{{ url_for('main.users_list') }}" class="btn">Voltar à Lista de Utilizadores</a>
    </form>
</body>
</html>
