<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <p>Bem-vindo, {{ user['nome'] }}!</p>

        <ul>
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
        </ul>
        
        {% if user['role'] == 'Administrador' %}
        <h2>Administração</h2>
        <ul>
            <li><a href="{{ url_for('main.users_list') }}">Gerenciar Usuários</a></li>
            <li><a href="{{ url_for('main.agendamentos_list') }}">Lista de Agendamentos</a></li>
            <li><a href="{{ url_for('main.relatorios_list') }}">Lista de Relatórios</a></li>
            <li><a href="{{ url_for('main.me') }}">Perfil</a></li>
        </ul>
        {% endif %}
        
        {% if user['role'] == 'Rececionista' %}
        <h2>Rececionista</h2>
        <ul>
            <li><a href="{{ url_for('main.create_agendamento') }}">Agendamento de Exames</a></li>
            <li><a href="{{ url_for('main.agendamentos_list') }}">Lista de Agendamentos</a></li>
            <li><a href="{{ url_for('main.users_list') }}">Gerenciar Usuários</a></li>
        </ul>
        {% endif %}
        
        {% if user['role'] == 'Médico' %}
        <h2>Médico</h2>
        <ul>
            <li><a href="{{ url_for('main.agendamentos_list') }}">Lista de Agendamentos</a></li>
            <li><a href="{{ url_for('main.relatorios_list') }}">Lista de Relatórios</a></li>
        </ul>
        {% endif %}
        
        {% if user['role'] == 'TSDT' %}
        <h2>TSDT</h2>
        <ul>
            <li><a href="{{ url_for('main.agendamentos_list') }}">Lista de Agendamentos</a></li>
            <li><a href="{{ url_for('main.relatorios_list') }}">Lista de Relatórios</a></li>
        </ul>
        {% endif %}
    </div>
</body>
</html>
