<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_agendamento.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <form method="POST" action="{{ url_for('main.edit_agendamento', agendamento_id=agendamento.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group">
                <label for="utente">{{ form.utente.label }}</label>
                {{ form.utente(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="tipo">{{ form.tipo.label }}</label>
                {{ form.tipo(class="form-control") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="data">{{ form.data.label }}</label>
                {{ form.data(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="hora">{{ form.hora.label }}</label>
                {{ form.hora(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <label for="medico">{{ form.medico.label }}</label>
            {{ form.medico(class="form-control") }}
        </div>
        <div class="form-group form-submit">
            <input type="submit" value="Atualizar" class="btn btn-primary">
        </div>
    </form>
</body>
</html>
