<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>ISEP-X</h1>
            <nav>
                <ul>
                    {% if user %}
                    <li><span>Olá, {{ user['nome'] }}!</span></li>
                    {% if user['role'] == 'Administrador' %}
                    <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    {% if user['role'] == 'Rececionista' %}
                    <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    {% if user['role'] == 'Médico' %}
                    <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    {% if user['role'] == 'TSDT' %}
                    <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    {% if user['role'] == 'Utente' %}
                    <li><a class="button" href="{{ url_for('main.perfil') }}">Meu Perfil</a></li>
                    {% endif %}
                    <li><a class="button" href="{{ url_for('main.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.register') }}">Registar</a></li>
                    <li><a href="{{ url_for('main.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <video autoplay muted loop id="heroVideo">
                <source src="{{ url_for('static', filename='assets/4352120-hd_1920_1080_25fps.mp4') }}" type="video/mp4">
            </video>
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <h2>Bem vindos à plataforma ISEP-X</h2>
                <p>Tecnologia que faz a diferença!</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 ISEP-X Clinic. Todos os direitos reservados.</p>
            <p>Endereço: Rua Exemplo, 123, Porto, Portugal</p>
            <p>Telefone: +351 123 456 789 | Email: <a href="mailto:info@isepxclinic.pt">info@isepxclinic.pt</a></p>
        </div>
    </footer>
</body>
</html>
