<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users_list.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Usuários</h1>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Procurar...">
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>CC</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for user, info in users %}
                <tr>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ info.cc_number if info else 'N/A' }}</td>
                    <td>
                        <a href="{{ url_for('main.user_detail', id=user.id) }}">Ver Detalhes</a> |
                        <a href="{{ url_for('main.edit_user', id=user.id) }}">Editar</a>
                        {% if session['user']['role'] == 'Administrador' %}
                        |
                        <form action="{{ url_for('main.delete_user', id=user.id) }}" method="POST" style="display:inline;">
                            {{ delete_form.hidden_tag() }}
                            <button type="submit" onclick="return confirm('Tem certeza de que deseja deletar este usuário?');">Deletar</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('main.create_user') }}" class="btn">Adicionar Novo Usuário</a>
        <a href="{{ url_for('main.dashboard') }}" class="btn">Voltar ao Painel de Administração</a>
    </div>
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
</body>
</html>
